.app-container {
  display: flex;
  justify-content: center;
}

.column1,
.column3 {
  background-color: green;
  height: 100vh;
  width: 100vh;
  text-align: center;
  border: solid white 1px;
}
.column2 {
  width: 200vh;
  background-color: red;
  text-align: center;
}
