.title {
  font-family: sans-serif;
}

.record-btn {
  background-color: rgba(255, 255, 255, 0);
  /* make transparent later */
  border-style: none;
}
.record-btn :hover {
  background-color: aqua;
}

.record-icon {
  height: 15vh;
}
