.auth-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-color: #fff1ad;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
}
.auth-container h1{
    margin-top: 5vh;
    text-align: center;
}

.auth-box{
    background-color: rgb(255, 255, 255);
    border: solid black 4px;
    padding: 20vh;
    margin-top: 5vh;
    border-radius: 20px;
}
